/__pycache__/
/data/
/scripts/
/work_dirs/
/build/
sftp-config.json
push.sh
*.pyc
*.log
*.egg
*.egg-info
*.so
*.o
*.mp4
/data/
/test/datasets/data/nerf_llff_data/
/test/datasets/data/nerf_synthetic/
/test/datasets/data/multiscale/
.coverage
/.pytest_cache/
